// Center
.centerText {
    text-align: center;
}

// Bold
.bold {
    font-weight: 600;
}

.bolder {
    font-weight: 800;
}

.extra-bold {
    font-weight: 900;
}

// Width
.all-width {
    width: 100%;
}

// Sides
.left {
    text-align: left;
}

.right {
    text-align: right;
}

.light {
    background-color: #262626;
}

.lighter {
    background-color: #353535;
}