// V A R I A B L E S //
// Colors
$color-html-back: #2B2828;
$color-code-back: #2C2C2C;
$color-text: #BFBFBF;
$color-purple: #9426d4;
$color-purple-darker: #8a20c7;
$color-section: #272727;
$color-grey: #363636;
$color-grey-lighter: #494949;
$color-text-lighter: #E3E3E3;

// Letters
$font-family: 'Roboto';